---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import BackgroundSectionVideo from "../components/BackgroundSectionVideo.astro";
---
<BaseLayout>
  <main>
    <Hero />
    <BackgroundSectionVideo src="/assets/textures/9461-219710531_small.mp4" poster="/photos/video-motion.jpg" opacity={0.25}>
      <Services />
      <About />
      <Contact />
    </BackgroundSectionVideo>
  </main>
</BaseLayout>
